.advantages {
  font-family: "PT-Sans";
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400px;
  text-align: center;
}

.advantages__slogan {
  font-weight: 700;
  font-size: 18;
  line-height: 26px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-with: $tablet-width) {
    display: gtid;
    grid-template-columns: 256px 256px 256px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 400px 400px 400px;
    width: 1200px;
  }
}

.advantages__servises-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.servises-list__item {
  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__item {
  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__image-item {
  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__item:nth-child(1), .advantages__item:nth-child(3) {
  background-color: #81b3d2 ;
  color: #ffffff;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.servises-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

