.advantages {
  font-family: "PT-Sans";
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.advantages__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__list, .servises-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-with: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1200px;
  }
}



.advantages__item, .servises-list__item {
  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}



.real__city, .bridge {
  background-color: #81b3d2;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.servises-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

