.emotions {
  margin: 0;
  padding: 0;
  width: 320px;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.emotions__button {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
}

.emotions__description {
  color: #33333399;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
}

