.feedback {
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.feedback__wrapper {
  margin-top: 36px;
  width: 320px;
  text-align: center;
}

.feedback-title {
  font-weight: 700;
}
