.feedback {
  margin-top: 36px;
  width: 320px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.feedback-title {
  font-weight: 700;
}

.group-form {
  margin-top: 24px;
  background-color: #ffffff;
  color: #000000;
}

.group-form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
