.welcome__logo {
  width: 282px;
  height: 214px;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }
}

.logo__wraper {
  display: block;
  margin: 90px, auto, 85px;
  background-image: url("/source/img/background-logo.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin: 77px, auto, 91px;
  }

  @media (min-width: $desktop-width) {
    margin: 78px, auto, 90px;
  }
}
