.main-header {
  background-color: #ffffff;
  width: 320px;
}

.main-header__logo {
  display: block;
  margin-right: 68px;
  height: 96px;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    margin: 0, auto;
  }
}
