.welcome-logo {
  display: block;
  margin: 90px, 19px, 85px;
}

.logo__wraper {
  width: 320px;
  background-image: url("/source/img/background-logo.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
}
