body {
  width: 280px;
  font-family: "PT-Sans";

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: auto, 40px;
  }
}


