.social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 156px;

  &--vkontakte {
    background-image: url(/source/img/footer/vk.svg);
    background-repeat: no-repeat;
    background-color: #81b3d2;
  }

  &--telegram {
    background-image: url(/source/img/footer/telegram.svg);
    background-repeat: no-repeat;
    background-color: #81b3d2;
  }

  &--youtube {
    background-image: url(/source/img/footer/yotube.svg);
    background-repeat: no-repeat;
    background-color: #81b3d2;
  }
}

.social-item {
  width: 48px;
}
