.subscription {
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  font-weight: 700px;
  line-height: 26px;
}

.subscription__description {
  font-weight: 400;
}

.subscription__button {
  background-color: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  width: 284px;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}
