.video-gallery {
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.video-gallery__wrapper {
  margin-top: 17px;
  width: 320px;
  text-align: center;
}

.video-gallery__title {
  font-size: 21px;
}
