@font-face {
  font-family: "PT-Sans";
  src: url(/source/fonts/ptsans.woff);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT-Sans";
  src: url(/source/fonts/ptsans.woff2);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "PT-Sans";
  src: url(/source/fonts/ptsansbold.woff);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "PT-Sans";
  src: url(/source/fonts/ptsansbold.woff2);
  font-style: italic;
  font-weight: bold;
}
